<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rcjdemo.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.example.rcjdemo.entity.User">
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="USER_PASSWORD" jdbcType="VARCHAR" property="userPassword" />
  </resultMap>
  <select id="getTableList" resultMap="BaseResultMap">
     select * from user
  </select>
</mapper>
